*{
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar {
    display: none;
}

#endGame{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(8, 0, 255), rgb(245, 233, 7), rgb(255, 0, 234), rgb(21, 255, 0));   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#endGame>p{
    font-size: 4rem;
    font-weight: bolder;
    color: blue;
}

#endGame button{
    font-size: 2rem;
    padding: 2%;
    color: green;
    margin: 5%;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.endScore>p{
    font-size: 2rem;
    color: green;
}

#startGame{
 width: 100vw;
 height: 100vh;
 background-image: linear-gradient(rgb(8, 0, 255), rgb(245, 233, 7), rgb(255, 0, 234), rgb(21, 255, 0));
}
#startGame>p{
    font-size: 3rem;
    position: fixed;
    top: 0.5%;
    left: 0.5%;
    width: 80%;
    color: red;
    font-weight: bolder;
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: -3px -3px rgb(17, 255, 0), -2px -2px rgb(17, 255, 0),
    -4px -4px rgb(17, 255, 0), -3px -3px rgb(17, 255, 0), -2px -2px rgb(17, 255, 0),
    -1px -1px rgb(17, 255, 0), 1px 1px rgb(17, 255, 0), 2px 2px rgb(17, 255, 0),
    3px 3px rgb(17, 255, 0), 4px 4px rgb(17, 255, 0), 5px 5px rgb(17, 255, 0),
    6px 6px rgb(17, 255, 0), 7px 7px rgb(17, 255, 0), 8px 8px rgb(17, 255, 0),
    9px 9px rgb(17, 255, 0), 10px 10px rgb(17, 255, 0), 11px 11px rgb(17, 255, 0),
    12px 12px rgb(17, 255, 0), 13px 13px rgb(17, 255, 0), 14px 14px rgb(17, 255, 0),
    15px 15px rgb(17, 255, 0), 16px 16px rgb(17, 255, 0), 17px 17px rgb(17, 255, 0),
    18px 18px rgb(17, 255, 0), 19px 19px rgb(17, 255, 0), 20px 20px rgb(17, 255, 0),
    21px 21px rgb(17, 255, 0), 22px 22px rgb(17, 255, 0), 23px 23px rgb(17, 255, 0),
    24px 24px rgb(17, 255, 0), 25px 25px rgb(17, 255, 0), 26px 26px rgb(17, 255, 0),
    27px 27px rgb(17, 255, 0), 25px 25px rgb(17, 255, 0), 28px 28px rgb(17, 255, 0),
    29px 29px rgb(17, 255, 0), 30px 30px rgb(17, 255, 0), 31px 31px rgb(17, 255, 0),
    32px 32px rgb(17, 255, 0), 33px 33px rgb(17, 255, 0), 34px 34px rgb(17, 255, 0),
    35px 35px rgb(17, 255, 0), 36px 36px rgb(17, 255, 0), 37px 37px rgb(17, 255, 0),
    38px 38px rgb(17, 255, 0), 39px 39px rgb(17, 255, 0), 20px 20px;
}
.startGameLeft{
    height: 50%;
    width: 20%;
    position: fixed;
    bottom: 20%;
    left: 5%;
}
.startGameRight{
    height: 90%;
    width: 25%;
    position: fixed;
    bottom: 5%;
    right: 1%;
}
.startGameMid{
    position: fixed;
    top: 25%;
    left: 30%;
}
.startGameMid p{
    font-size: 1.7rem;
    line-height: 80px;
    font-weight: bolder;
    color:#6250a0;
}
.startGameMid button{
    margin-top: 10%;
    padding: 3% 5%;
    font-size: 2.4rem;
    font-weight: bolder;
    border-radius: 60px;
    border: none;
    background-color: rgb(63, 247, 50);
    color:crimson;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.main{
    display: none;
    width: 800vw;
    height: 100vh;
    background-color: skyblue;
    position: relative;
}


.meetMario1{
    display: none;
    color: green;
    height: 100px;
    width: 70px;
    bottom: 130px;
    position: absolute;
    z-index: 10;
    margin: 0%;
    padding: 0%;
}
.meetMario2{
    color: green;
    height: 120px;
    width: 70px;
    bottom: 130px;
    position: absolute;
    z-index: 10;
}

.BricksBlock{
    width: 70px;
    height: 60px;
    background-color: green;
}

#obstacleOne{
    position: absolute;
    top: 400px;
    left: 600px;
    width: fit-content;
}

#obstacleTwo{
    position: absolute;
    top: 400px;
    left: 800px;
    width: fit-content;  
}

#obstacleThree{
    position: absolute;
    top: 160px;
    left: 950px;
    width: fit-content;
}

#GreenPipe{
    width: fit-content;
    position: absolute;
    bottom: 120px;
    left: 1450px;
}

.GreenPipeFirst{
    width: 130px;
    height: 130px;
    position: absolute;
    bottom: -5px;
}

.GreenPipeSecond{
    width: 130px;
    height: 190px;
    position: absolute;
    left: 400px;
    bottom: -5px;
}

.GreenPipeThird{
    width: 130px;
    height: 240px;
    position: absolute;
    left: 800px;
    bottom: -10px;
}

.GreenPipeFourth{
    width: 130px;
    height: 240px;
    position: absolute;
    left: 1250px;
    bottom: -10px;
}
.runningPath{
    width: fit-content;
    display: flex;
    position: absolute;
    bottom: 3px;
}
.runningPathSecond{
    width: fit-content;
    display: flex;
    position: absolute;
    bottom: 68px;
}

#obstacleFour{
    width: fit-content;
    position: absolute;
    left: 3500px;
    top: 310px;
}

#obstacleFive{
    width: fit-content;
    float: left;
    position: absolute;
    left: 3650px;
    top: 100px;
}

#obstacleSix{
    width: fit-content;
    float: left;
    position: absolute;
    left: 4250px;
    top: 100px;
}

#obstacleSeven{
    width: fit-content;
    position: absolute;
    left: 4480px;
    top: 350px;
}

#obstacleEight{
    width: fit-content;
    position: absolute;
    left: 4800px;
    top: 350px;
}

#obstacleNine{
    width: fit-content;
    position: absolute;
    left: 5300px;
    top: 350px;
}

#obstacleTen{
    width: fit-content;
    position: absolute;
    left: 5500px;
    top: 350px;
}

#obstacleEleven{
    width: fit-content;
    position: absolute;
    left: 5700px;
    top: 350px;
}

#obstacleTwelve{
    width: fit-content;
    position: absolute;
    left: 5500px;
    top: 150px;
}

#obstacleThirteen{
    float: left;
    width: fit-content;
    position: absolute;
    left: 6000px;
    top: 350px;
}

#obstacleForteen{
    float: left;
    width: fit-content;
    position: absolute;
    left: 6580px;
    top: 350px;
}

#obstacleFifteen{
    float: left;
    width: fit-content;
    position: absolute;
    left: 6500px;
    top: 100px;
}

#obstacleSixteen{
    float: left;
    width: fit-content;
    position: absolute;
    left: 6190px;
    top: 100px;
}


#obstacleSeventeen{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7100px;
    bottom: 130px;
}
#obstacleEighteen{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7174px;
    bottom: 190px;
}
#obstacleNineteen{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7248px;
    bottom: 250px;
}
#obstacleTwenty{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7322px;
    bottom: 310px;
}
#obstacleTwentyOne{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7500px;
    bottom: 130px;
}
#obstacleTwentyTwo{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7500px;
    bottom: 190px;
}
#obstacleTwentyThree{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7500px;
    bottom: 250px;
}
#obstacleTwentyFour{
    float: left;
    width: fit-content;
    position: absolute;
    left: 7500px;
    bottom: 310px;
}

#obstacleTwentyFive{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8039px;
    bottom: 130px;
}
#obstacleTwentySix{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8113px;
    bottom: 190px;
}
#obstacleTwentySeven{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8187px;
    bottom: 250px;
}
#obstacleTwentyEight{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8261px;
    bottom: 310px;
}
#obstacleTwentyNine{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8400px;
    bottom: 130px;
}
#obstacleThirty{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8400px;
    bottom: 190px;
}
#obstacleThirtyOne{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8400px;
    bottom: 250px;
}
#obstacleThirtyTwo{
    float: left;
    width: fit-content;
    position: absolute;
    left: 8400px;
    bottom: 310px;
}

.GreenPipeFive{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 7450px;
    bottom: -2px;
}

#obstacleThirtyThree{
    float: left;
    width: fit-content;
    position: absolute;
    left: 9150px;
    bottom: 350px;
}

.GreenPipeSix{
    width: 150px;
    height: 100px;
    position: absolute;
    left: 8150px;
    bottom: -2px;
}

#obstacleThirtyFour{
    float: left;
    width: fit-content;
    position: absolute;
    left: 9700px;
    bottom: 130px;
}
#obstacleThirtyFive{
    float: left;
    width: fit-content;
    position: absolute;
    left: 9774px;
    bottom: 190px;
}
#obstacleThirtySix{
    float: left;
    width: fit-content;
    position: absolute;
    left: 9848px;
    bottom: 250px;
}
#obstacleThirtySeven{
    float: left;
    width: fit-content;
    position: absolute;
    left: 9922px;
    bottom: 310px;
}
#obstacleThirtyEight{
    float: left;
    width: fit-content;
    position: absolute;
    left: 9996px;
    bottom: 370px;
}
#obstacleThirtyNine{
    float: left;
    width: fit-content;
    position: absolute;
    left: 10070px;
    bottom: 430px;
}
#obstacleFourty{
    float: left;
    width: fit-content;
    position: absolute;
    left: 10144px;
    bottom: 490px;
}
#obstacleFourtyOne{
    float: left;
    width: fit-content;
    position: absolute;
    left: 10218px;
    bottom: 550px;
}
#obstacleFourtyTwo{
    float: left;
    width: fit-content;
    position: absolute;
    left: 10292px;
    bottom: 610px;
}

#endImg{
    position: absolute;
    right: 0%;
    bottom: 100px;
    width: 1160px;
    height: 656px;
}

.villainHead{
    height: 70px;
    width: 70px;
}
.TurtleVillain{
    height: 70px;
    width: 70px;
}

#villainHeadOne{
    position: absolute;
    bottom: 130px;
    animation: villainHeadOne 10s ease-in-out 0s infinite reverse forwards;
}

@keyframes villainHeadOne{
    0%{
        left: 2800px;
    }
    50%{
        left: 3150px;
    }
    100%{
        left: 2800px;
    }
}

#villainHeadTwo{
    position: absolute;
    bottom: 130px;
    animation: villainHeadTwo 10s ease-in-out 0s infinite reverse forwards;
}

@keyframes villainHeadTwo{
    0%{
        left: 2645px;
    }
    50%{
        left: 2345px;
    }
    100%{
        left: 2645px;
    }
}

#villainHeadThree{
    position: absolute;
    bottom: 130px;
    animation: villainHeadThree 10s ease-in-out 0s infinite reverse forwards;
}

@keyframes villainHeadThree{
    0%{
        left: 2345px;
    }
    50%{
        left: 2645px;
    }
    100%{
        left: 2345px;
    }
}

#villainHeadFour{
    position: absolute;
    bottom: 130px;
    animation: villainHeadFour 20s ease-in-out 0s infinite reverse forwards;
}

@keyframes villainHeadFour{
    0%{
        left: 1400px;
    }
    50%{
        left: 0px;
    }
    100%{
        left: 1400px;
    }
}

#villainHeadFive{
    position: absolute;
    bottom: 130px;
    animation: villainHeadFive 30s ease-in-out 0s infinite reverse forwards;
}

@keyframes villainHeadFive{
    0%{
        left: 4200px;
    }
    50%{
        left: 5500px;
    }
    100%{
        left: 4200px;
    }
}

#villainHeadSix{
    position: absolute;
    bottom: 130px;
    animation: villainHeadSix 20s ease-in-out 0s infinite reverse forwards;
}

@keyframes villainHeadSix{
    0%{
        left: 4600px;
    }
    50%{
        left: 5200px;
    }
    100%{
        left: 4600px;
    }
}

#turtlesOne_left{
    position: absolute;
    bottom: 130px;
    animation: turtlesOne_left 30s ease-in-out 0s infinite reverse forwards;
}

@keyframes turtlesOne_left{
    0%{
        left: 1400px;
    }
    50%{
        left: 0px;
    }
    100%{
        left: 1400px;
    }
}

#turtlesTwo_left{
    position: absolute;
    bottom: 385px;
    animation: turtlesTwo_left 15s ease-in 0s infinite reverse forwards;
}

@keyframes turtlesTwo_left{
    0%{
        left: 1200px;
    }
    50%{
        left: 750px;
    }
    100%{
        left: 1200px;
    }
}

#turtlesThree_left{
    position: absolute;
    bottom: 130px;
    animation: turtlesThree_left 15s ease-in-out 0s infinite reverse forwards;
}

@keyframes turtlesThree_left{
    0%{
        left: 5500px;
    }
    50%{
        left: 6700px;
    }
    100%{
        left: 5500px;
    }
}

#turtlesFour_left{
    position: absolute;
    bottom: 130px;
    animation: turtlesFour_left 20s ease-in-out 0s infinite reverse forwards;
}

@keyframes turtlesFour_left{
    0%{
        left: 7000px;
    }
    50%{
        left: 5900px;
    }
    100%{
        left: 7000px;
    }
}

#turtlesFive_left{
    position: absolute;
    bottom: 690px;
    animation: turtlesFive_left 10s ease-in 0s infinite reverse forwards;
}

@keyframes turtlesFive_left{
    0%{
        left: 4050px;
    }
    50%{
        left: 3630px;
    }
    100%{
        left: 4050px;
    }
}

#turtlesSix_left{
    position: absolute;
    bottom: 415px;
    /* left: 3150px; */
    /* left: 2800px; */
    animation: turtlesSix_left 10s ease-in 0s infinite reverse forwards;
}

@keyframes turtlesSix_left{
    0%{
        left: 9130px;
    }
    50%{
        left: 9400px;
    }
    100%{
        left: 9130px;
    }
}
#score{
    font-family:fantasy;
    font-weight: bolder;
    font-size: xx-large;
    color: brown;
    position: fixed;
    top: 10px;
    left: 10px;
}


